*{
    text-align: center;
    box-sizing: border-box;
}
html, body {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}
.row {width: 100%;}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    padding: 10px;
    height: 100px;
}

button:hover{
    background-image: radial-gradient(circle, red, yellow, green);
    font-size: 30px;
}

button {
    background-image: linear-gradient(to bottom right, red, yellow);
    font-weight: bold;
    font-size: medium;
    border: 2px solid blue;
    border-radius: 10px;
}

.oneFourth {width: 25%;}
.oneThird {width: 33.33%;}
.oneHalf {width: 50%;}
.twoTenths{width: 20%; line-height: 90px;}
.fourTenths{width: 40%; line-height: 90px;}

.container {
    margin:0 auto;
    width:100%;
    max-width:5000px;
    background-color: grey;
    border: 10px solid grey;
    border-radius: 10px;
}

#sqrt:hover{
    background-image: url("squirt.jpg");
    background-size: cover;
    color:rgba(0, 0, 0, 0.5);
}

.viewFinder{
    margin: 10px auto;
    width:100%;
    max-width:5000px;
    background-color: #c0bebf;
    font-size: 30px;
}

.firstNum, .secondNum{
    overflow-x: auto;
    overflow-y: hidden;
}